@charset "UTF-8";
/********************
    Common Styles
*********************/
/**********************
    Wrappers/Layouts
***********************/
.wrapper {
    position: relative;
    width: 100%;
    max-width: 980px;
    padding: 0 30px;
    margin: 0 auto;

    &.large {
        max-width: 1024px
    }
}

.block {
    display: block;
    position: relative;
    width: 100%;

    &.padded {
        padding: 30px 0;
    }

    &.padded-top {
        padding: 30px 0 0;
    }

    &.padded-bottom {
        padding: 0 0 30px;
    }

    &.grey {
        background: @greyF;
    }

    &.blue {
        background: @main_colour;
        h2, h3, p, span, a, ul li, ol li {
            color: @white;
        }

        a {
            .underline-from-center(@white, 1px);
        }

        .btn-primary {
            &:extend(.btn-secondary all);
            color: @main_colour;
        }

        .btn-secondary {
            color: @main_colour;
        }

    }
}

/************************
      Page Banner
*************************/
.block--page-banner {
    display: block;
    padding: 106px 0 16px;
    background: @main_colour;

    p.subtitle {
        color: @white;
        margin: -40px 0 0;
        font-size: 14px;
        text-transform: uppercase;
    }
}

.breadcrumbs {
    margin: 0 0 12px;
    span {
        line-height: 150%;
        > span {
            font-size: 14px;
            color: @white;
            a {
                color: @white;
                margin: 0 8px;
                .defaultFont(500);
                .underline-from-center(@white, 1px);

                &:first-of-type {
                    margin: 0 8px 0 0;
                }
            }

            .breadcrumb_last {
                color: @white;
                margin: 0 8px;
                opacity: 0.8;
                .defaultFont(500);
            }
        }
    }
}

/*************************
      Main Content
**************************/
.block--main-content {
    p {
        &:last-of-type {
            margin: 0;
        }
    }
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;

    &.aligncenter {
        margin: 0 auto 22px;
    }
}

/****************************
        Post Lists
*****************************/
.posts-list {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: wrap;

    article.tease {
        width: 100%;
        margin: 0 0 22px;
    }
}

/*************************
        Tease Post
**************************/
article.tease-post {
    padding: 12px;
    transition: 0.2s;

    &:hover {
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.08);
    }

    a {
        &:before {
            display: none;
        }
    }

    .tease-image {
        display: block;
        margin: 0 0 30px;

        img {
            display: block;
            width: 100%;
            margin: 0 auto;
        }
    }

    .tease-video {
        display: block;
        margin: 0 0 22px;
    }

    .tease-info {
        display: block;
    }

    .tease-details {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0 0 12px;

        .tease-category {
            display: block;
            font-size: 12px;
            text-transform: uppercase;
            color: @default_text_colour;
            .defaultFont(500);
        }
        .tease-read-time {
            display: block;
            font-size: 12px;
            color: #9A9A9A;
        }
    }

    .tease-title {
        display: block;
        font-size: 18px;
        margin: 0 0 8px;
        color: @main_colour;
        .defaultFont(600);
    }

    .tease-excerpt {
        display: block;
        margin: 0 0 12px;
        color: @default_text_colour;
        line-height: 175%;
        .defaultFont();
    }

    .tease-link {
        display: block;
        margin: 0 0 16px;
        color: @main_colour;
        .defaultFont(500);
    }
}


/*************************
       Pagination
**************************/
.block--pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;

    a {
        display: inline-block;
        width: auto;
        &.hidden {
            opacity: 0;
            visibility: hidden;
        }
    }

    ul {
        .clean-list();
        margin: 0 10px;
        border: 2px solid @default_border_colour;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: stretch;

        li {
            border-right: 2px solid @default_border_colour;
            height: 100%;

            &:last-of-type {
                border-right: 0;
            }

            &.current {
                background: @default_border_colour;
                span {
                    color: @main_colour;
                }
            }

            a {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 14px;
                color: @grey9;
                padding: 0 10px;
                height: 100%;


                span {
                    font-size: 14px;
                    color: @grey9;
                    padding: 0;
                }
            }

            span {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 14px;
                color: @grey9;
                padding: 0 10px;
                height: 100%;
            }

            &:hover {
                background: @default_border_colour;
                span {
                    color: @main_colour;
                }
            }
        }
    }

    .btn {
        padding: 10px;
    }
}

/************************
     Service Tease
*************************/
article.tease-service {
    a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .icon {
        display: block;
        font-size: 40px;
        margin: 0 0 16px;
    }

    .title {
        margin: 0 0 8px;
    }

    .excerpt {
        margin: 0;
    }
}

/************************
      Layout Builder
*************************/
.flex-cols {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;

    .col {
        width: 100%;
    }

    &.two-thirds {
        &.reverse {
            .col {
                order: 2;
                &:last-of-type {
                    order: 1;
                }
            }
        }
    }
}

section.split-section {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: wrap;

    .split-section--left, .split-section--right {
        width: 100%;
        padding: 8%;
    }

    .split-section--left {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        background: @main_colour;
        h2, h3, p, span, a, ul li, ol li {
            color: @white;
        }

        .btn-primary {
            &:extend(.btn-secondary all);
            color: @main_colour;
        }

        .btn-secondary {
            color: @main_colour;
        }
    }

    .split-section--right {
        position: relative;
        background: center center no-repeat;
        background-size: cover;

        &:after {
            content: '';
            display: block;
            padding-bottom: 100%;
        }
    }

    &.reverse {
        .split-section--left {
            position: relative;
            display: inline-block;
            order: 2;

            #map {
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
            }

            &:after {
                content: '';
                display: block;
                padding-bottom: 100%;
            }
        }

        .split-section--right {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            background: @main_colour;
            order: 1;

            h2, h3, p, span, a, ul li, ol li {
                color: @white;
            }

            .btn-primary {
                &:extend(.btn-secondary all);
                color: @main_colour;

                &:hover {
                    color: @white;
                }
            }

            .btn-secondary {
                color: @main_colour;
                &:hover {
                    color: @white;
                }
            }

            &:after {
                display: none;
            }
        }
    }
}


.gallery-slideshow {
    position: relative;

    .inner-container {
        position: relative;
    }

    .slick-initialized {
        .slide {
            display: block;
        }
    }

    .slide {
        display: none;
        background: center center no-repeat;
        background-size: cover;

        &:first-of-type {
            display: block;
        }

        &:after {
            content: '';
            display: block;
            padding-bottom: 49.57264957%;
        }
    }

    .slider-controls {
        position: absolute;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: ~"calc(100% + 35px)";
        top: 50%;
        left: -17.5px;
        transform: translateY(-50%);
        z-index: 2;

        a {
            display: block;
            position: relative;
            padding: 0;
            width: 35px;
            height: 35px;
            background: @main_colour;
            border-radius: 50%;
            font-size: 15px;
            color: @white;
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
            transition: 0.1s;

            &.slick-prev,
            &.slick-next {
                &.slick-disabled {
                    opacity: 0.6;
                    pointer-events: none;
                }
            }

            span {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }

    .slider-navigation {
        display: none;
        margin: 16px -8px 0;
        .slick-track {
            display: flex;
        }

        .slick-slide {
            padding: 0 8px;
            cursor: pointer;
        }

        .slide {
            &:after {
                content: '';
                display: block;
                padding-bottom: 63.73626374%;
            }
        }
    }
}

.accordion-list {
    display: flex;
    flex-direction: column;

    .accordion-item {
        padding: 0;
        border-bottom: 1px solid @default_border_colour;

        &:first-of-type{
            .accordion-title{
                padding: 0 45px 24px 0;
            }
        }

        .accordion-title {
            position: relative;
            margin: 0;
            cursor: pointer;
            padding: 24px 45px 24px 0;
            font-size: 18px;
            .defaultFont(500);

            span {
                position: absolute;
                right: 0;
                top: 50%;
                font-size: 20px;
                color: @main_colour;
                transform: translateY(-50%);
            }
        }

        .accordion-hidden {
            display: none;
        }

        &.is-open {
            .accordion-hidden {
                display: block;
            }
        }
    }
}

/************************
     Contact Block
*************************/
.block--contact-us {
    .contact-us--info {
        ul {
            .clean-list();
            width: 100%;
            li {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: flex-start;
                margin: 0 0 22px;

                .icon {
                    font-size: 20px;
                    padding-right: 10px;
                }

                a, span {
                    word-break: break-all;
                }
            }
        }
    }
}