@charset "UTF-8";
/****************
     Forms
*****************/
form {
    .form-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        .control-group {
            width: 100%;
            margin: 0 0 16px;

            &.half {
                width: 100%; //~"calc(50% - 8px)"
                margin: 0 0 16px 0; //0 16px 16px 0

                &:last-of-type {
                    margin-right: 0;
                }
            }
        }

        label {
            display: block;
            font-size: 14px;
            color: @main_colour;
            text-transform: uppercase;
            margin: 0 0 6px;
            .defaultFont(700);
        }

        input[type=text],
        input[type=email],
        textarea,
        .custom-select {
            appearance: none;
            border: 1px solid @form_input_border;
            background: @form_input_bg_colour;
            color: @form_input_text_colour;
            font-size: 16px;
            padding: 8px 16px;
            border-radius: 0;
            width: 100%;
            line-height: 100%;
            .placeholder({ color: @form_input_placeholder_colour });

            &:focus {
                outline: none;
                border: 1px solid @form_input_border_focus;
            }
        }

        textarea {
            min-width: 100%;
            max-width: 100%;
            min-height: 120px;
        }
    }
}