{% extends "base.twig" %}

{% block content %}
	<div class="block block--page-banner">
		<div class="wrapper cms-content">
			<h1>Page not found</h1>
		</div>
	</div>

	<div class="block white padded">
		<a class="js-logo-inverse logo-inverse" href="/">{% include 'partials/_logo-mark.twig' %}</a>
		<a href="javascript:void(0)" class="js-menu-icon-inverse js-menu-trigger menu-trigger-inverse"><span></span></a>
		<div class="wrapper">
			<p>Sorry, we couldn't find what you're looking for.</p>
			<a href="/" class="btn btn-primary">Return Home</a>
		</div>
	</div>
{% endblock %}