{% extends "base.twig" %}

{% block page_class(' homepage') %}

{% block content %}
  <div class="block block--page-banner" style="background-image: url('https://unsplash.it/1920/1080')">
    <div class="wrapper cms-content">
      <h1>{{ post.title }}</h1>
    </div>
  </div>

  <div class="block padded block--main-post-content">
    <div class="wrapper cms-content">
      {{post.content}}
    </div>
  </div>
{% endblock %}