{% extends "base.twig" %}

{% block content %}
	<div class="block block--page-banner">
		<div class="wrapper cms-content">
			{{ breadcrumbs }}
			<h1>{{ post.title }}</h1>
			{% if 'post' == post.post_type %}
				<p class="subtitle">{{ post.date }}</p>
			{% endif %}
		</div>
	</div>

	<div class="block white padded block--post-content">
		<a class="js-logo-inverse logo-inverse" href="/">{% include 'partials/_logo-mark.twig' %}</a>
		<a href="javascript:void(0)" class="js-menu-icon-inverse js-menu-trigger menu-trigger-inverse"><span></span></a>
		<div class="wrapper cms-content">
      		{{post.content}}
		</div>
	</div>

	<div class="layout-builder">
        {% include 'layout-builder.twig' %}
	</div>
{% endblock %}